---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Profesor Particular de Programación",
    company: "Independiente",
    description:
      "Enseño a estudiantes de universidad y profesionales del área de ciencias sociales a programar en Python y R para análisis de datos ponderados y visualizaciones interactivas",
  },
  {
    date: "Noviembre 2024",
    title: "Analista de Proyectos",
    company: "Defensoría del Contribuyente",
    description:
      "Construí indicadores, métrica y visualizaciones entorno a la Experiencia de Usuario. Asesoré al cliente en la toma de decisiones basado en los datos",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
